.navbar {
  max-width: 100%;
  padding: 1em;
  background-color: linen;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .n-list-items {
    display: flex;
    gap: 0.8rem;
  }
}
